.Formname{
  margin:20px
}
body{
  padding-left: 37%;
}
.Name{
  padding: 8px 10px ;
  margin-top: 10px;
}
.sub-btn{
  margin: 30px;
  background-color: rgb(192, 151, 16);
  padding: 9px 30px;
  outline: none;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 700;
  color: #fff;
}